<table class="table">
    <tr>
        <th>
            <label>Id</label>
            <i appSortParams class="fa fa-arrow-up" (click)="sortIdAsc()"></i>
            <i appSortParams class="fa fa-arrow-down sorting" (click)="sortIdDesc()"></i>
        </th>
        <th>
            <label class="fw-bold">DoctorId</label>
            <i appSortParams class="fa fa-arrow-up" (click)="sortDocIdAsc()"></i>
            <i appSortParams class="fa fa-arrow-down sorting" (click)="sortDocIdDesc()"></i>
        </th>
        <th>
            <label>StartTime</label>
            <i appSortParams class="fa fa-arrow-up" (click)="sortStTimeAsc()"></i>
            <i appSortParams class="fa fa-arrow-down sorting" (click)="sortStTimeDesc()"></i>
        </th>
        <th>
            <label>EndTime</label>
            <i appSortParams class="fa fa-arrow-up" (click)="sortEnTimeAsc()"></i>
            <i appSortParams class="fa fa-arrow-down sorting" (click)="sortEnTimeDesc()"></i>
        </th>
        <th>
            <label>Sepciality</label>
            <i appSortParams class="fa fa-arrow-up" (click)="sortSpecialityAsc()"></i>
            <i appSortParams class="fa fa-arrow-down sorting" (click)="sortSpecialityDesc()"></i>
        </th>
        <th>
            <input type="text" class="w w-75 h-25" [(ngModel)]="searchValue" placeholder="Filter by Speciality">
        </th>
        <th>
            <a (click)="show()"><i class="fa fa-refresh refresh" aria-hidden="true" style="cursor: pointer;"></i></a>
        </th>
    </tr>
    <tr *ngFor="let appoint of (appointmentService.AppiontList|filterbySpeciality:searchValue|sortComponent:direction:column:type)">
        <td>{{appoint._id}}</td>
        <td>{{appoint.doctorId}}</td>
        <td>{{appoint.startTime}}</td>
        <td>{{appoint.endTime}}</td>
        <td>{{appoint.medicalSpecialty}}</td>
      
            <a [routerLink]="['edit',appoint._id]" ><i class="fa fa-edit" aria-hidden="true" style="font-weight: bold; font-size: larger;"></i></a>
       
        <td>
            <app-appointment-delete [appointment]="appoint"></app-appointment-delete>
        </td>
    </tr>
</table>