<!-- <label style="width: 100px;" >Username</label>
<input type="text" ><br><br>
<label style="width: 100px;">Pasword</label>
<input type="text" ><br><br>
<label style="width: 100px;">Type </label>
<input type="radio" name="type"  value="Nurse"   >
<label>Nurse</label>
<input type="radio" name="type" >
<label>Reciptionist</label>
<input type="radio" name="type" >
<label>Office Boy </label>
<input type="radio" name="type" >
<label>Doctor</label><br>
<button (click)="sign()">sign</button> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="../../assets/doctor.png" alt="" style="width: 150px;"/>
                        <h3>Welcome</h3>
                        <p>
                            In Clinic Management System, Doctors and Reciptioinist can manage their clinic
                        </p>
                    </div>
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Sign In</h3>
                                <div class="row register-form">
                                <form class="container" #form="ngForm">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="username" class="form-control" placeholder="UserName *" [(ngModel)]="userName" required/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="Password *" [(ngModel)]="passWord" required/>
                                        </div>
                                        <div class="form-group" style="margin: 1px 23%;">
                                            <div class="maxl">
                                                <label class="radio  col-md-4" > 
                                                    <input type="radio" name="type" [(ngModel)]="type" value="Reciptionist">
                                                    <span> Recipt </span> 
                                                </label>
                                                <label class="radio  col-md-4"> 
                                                    <input type="radio" name="type" value="Nurse" [(ngModel)]="type" required >
                                                    <span>Nurse </span> 
                                                </label>
                                                <label class="radio  col-md-4"> 
                                                    <input type="radio" name="type" value="Admin" [(ngModel)]="type" >
                                                    <span>Admin </span> 
                                                </label>
                                                <br>
                                                <label class="radio col-md-4"  > 
                                                    <input type="radio" name="type" value="doctor" [(ngModel)]="type">
                                                    <span>Doctor </span> 
                                                </label>
                                                <label class="radio  col-md-6"> 
                                                    <input type="radio" name="type" value="Office Boy" [(ngModel)]="type">
                                                    <span>Office Boy </span> 
                                                </label>
                                                <br>
                                                <label class="radio  col-md-6"> 
                                                    <input type="button" name="sign" [disabled]="form.invalid" class="btnRegister" value="Sign" (click)="sign()">
                                                </label>
                                                <div *ngIf="logged==false" style="color: red; margin-left: 15%;">
                                                    Inavlid Username or Password
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      </form>
                                </div>
                            </div>
                                
                        </div>  
            </div>
