<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-expand-lg navbar navbar-light fixed-top " style="background-color: #172447;height: 75px;">
    <div class="container-fluid ">
        <a class="navbar-brand"><i class="fa-solid fa-house-chimney-medical fa-2x text-white"
                style="width: 40px;"><label id="name">Injection 💉</label></i> </a>
        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a  [routerLink]="['/']" class="nav-link active " aria-current="page"
                        style="color: rgb(255, 255, 255); font-weight: Bold; font-size: 25px;"><i class="fa fa-home"
                            aria-hidden="true"></i>Home</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container register" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="../../assets/doctor.png" alt="" style="width: 150px;" />
            <h3>Welcome</h3>
            <p>
                In Clinic Management System, Doctors and Reciptioinist can manage their clinic
            </p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Sign In</h3>
                    <div class="row register-form">
                       <app-sign-in></app-sign-in>
                    </div>
                </div>

            </div>
        </div>