<table class="table">
    <tr>
        <th>
            <label>Id</label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortIdAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortIdDesc()"></i>
        </th>
        <th>
            <label class="fw-bold">Doc Name</label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortDocNameAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortDocNameDesc()"></i>
        </th>
        <th>
            <label>SSN</label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortSSNAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortSSNDesc()"></i>
        </th>
        <th>
            <label>Phone</label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortPhoneAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortPhoneDesc()"></i>
        </th>
        <th>
            <label>Address</label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortAddressAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortAddressDesc()"></i>
        </th>
        <th>
            <label>Sepciality</label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortSpecialityAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortSpecialityDesc()"></i>
        </th>
        <th>
            <label>Username</label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortUsernameAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortUsernameDesc()"></i>
        </th>
        <th>
            <label>Password </label><br>
            <i appSortParams  class="fa fa-arrow-up" (click)="sortPasswordAsc()"></i>
            <i appSortParams  class="fa fa-arrow-down sorting" (click)="sortPasswordDesc()"></i>
        </th>
        <th>
            <input type="text" class="w w-75 h-25" [(ngModel)]="searchValue" placeholder="Filter by doctorName">
        </th>
        <th>
            <a (click)="show()"><i class="fa fa-refresh refresh" aria-hidden="true" style="cursor: pointer;"></i></a>
        </th>
    </tr>
    <tr *ngFor="let doc of (doctorService.DocList|filterbyDocname:searchValue|sortDoctor:direction:column:type)">
        <td>{{doc._id}}</td>
        <td>{{doc.doctorName}}</td>
        <td>{{doc.SSN}}</td>
        <td>{{doc.phone}}</td>
        <td>{{doc.address}}</td>
        <td>{{doc.medicalSpecialty}}</td>
        <td>{{doc.username}}</td>
        <td>{{doc.password}}</td>
        <a [routerLink]="['edit',doc._id]" ><i class="fa fa-edit" aria-hidden="true" style="font-weight: bold; font-size: larger;"></i></a>
        <td><app-doctor-delete [doctor]="doc"></app-doctor-delete></td>
    </tr>
</table>