<body data-bs-spy="scroll" data-bs-target="#home" id="home">
    <!-- Start NavBar -->

    <nav class="navbar navbar-expand-lg navbar navbar-light fixed-top " style="background-color: #172447;height: 75px;">
        <div class="container-fluid ">
            <div class="container-fluid ">
                <a class="navbar-brand"><i class="fa-solid fa-house-chimney-medical fa-2x text-white"
                        style="width: 40px;"><label id="name" class="text-white" style="font-style: italic;">Injection 💉</label></i> </a>
                <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link active " aria-current="page" [routerLink]="['/']"
                            style="color: rgb(184, 200, 212);">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: rgb(184, 200, 212);" class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: rgb(184, 200, 212);" class="nav-link   " href=" #contactus">ContactUs</a>
                    </li> -->
                    <li class="nav-item ms-3  ">
                        <a (click)="login()" style="background-color: rgb(63, 87, 109);border-radius: 3px;"
                            class="nav-link data-bs-toggle= text-light" style="cursor: pointer;" model data-bs-target="#mymodel"><i
                                class="fa fa-sign-in text-primary text-white p-3 fw-bold" style="font-size: 27px;"  aria-hidden="true">Login</i>
                            </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- End NavBar -->
    <!-- Start Body -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top: 80px;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner g-0">
            <div class="carousel-item active ">
                <img src="../../assets/image/5.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End Body -->
    <!-- Start Features -->
    <div class="row g-0 my-3 " id="features">
        <div class="col-12">
            <h3 class="text-center mb-9">Features</h3>
        </div>
    </div>
    <div class="row g-0 mb-5">
        <div class="col-12 col-md-4 g-1">
            <div class="card">
                <img src="../../assets/image/eye.jpg">
                <p>Optometry with the latest devices with the most skilled doctors.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 g-1">
            <div class="card">
                <img src="../../assets/image/toth.jpg">
                <p>Check On the teeth with the latest equipment and the most skilled doctors and consultants.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 g-1 ">
            <div class="card">
                <img src="../../assets/image/leg.jpg">
                <p>Check orthopedist On the teeth with the latest equipment and the most skilled doctors and
                    consultants.</p>
            </div>
        </div>
    </div>
    <!-- End Featuers -->
    <!-- Start ContactUs -->
    <div class="col-12  g-0" id="contactus">
        <div class="container mb-9">
            <span>Copyright &copy; 2022 Clinic Injection</span>
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-youtube"></i></li>
            </ul>
        </div>

    </div>
    <!-- End ContactUs -->
</body>