<!-- <div class="row">
<div class="col-3">
    <p class="text-success fw-bold">Add New Appointment</p>
    <app-appointment-create></app-appointment-create></div>
<div class="col-9">
    <p class="text-success fw-bold">Available Appointments</p>
    <app-appointment-read></app-appointment-read></div>
</div> -->

<!-- <div class="row">
<div class="col-3">
    <p class="text-success fw-bold">Add New Medicine</p>
    <app-medicine-create></app-medicine-create></div>
<div class="col-9">
    <p class="text-success fw-bold">Available Medicines</p>
    <app-medicine-read></app-medicine-read></div>
</div> -->

<!-- <div class="row">
<div class="col-3">
    <p class="text-success fw-bold">Add New Employee</p>
    <app-employee-create></app-employee-create>
</div>
<div class="col-9">
    <p class="text-success fw-bold">Available Employees</p>
    <app-employee-read></app-employee-read></div>
</div> -->


<!-- <div class="row">
<div class="col-3">
    <p class="text-success fw-bold">Add New Clinic Service</p>
     <app-service-create></app-service-create></div>
<div class="col-9">
    <p class="text-success fw-bold">Available Clinic Services</p>
     <app-service-read></app-service-read></div>
</div> -->


<!-- <div class="row">
<div class="col-3">
    <p class="text-success fw-bold">Add New Clinic Service</p>
    <app-employee-create></app-employee-create>  
</div> -->

<div class="fw-bold m-2" ><router-outlet></router-outlet></div>

